/* Box surrounding the toggle button */
.toggle {
	position: relative;
	width: 100%;
	height: 28px;
	display: inline-block;
	font-weight: normal;
}

/* Hide default HTML checkbox */
.toggle input {
	display: none;
}

/* Text on the toggle button */
.slider-text {
	padding-top: 4px;
	text-align: center;
}

/* Toggle button */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #434445;	/* dark grey */
	border-radius: 28px;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:hover{
  background-color: #787878;	/* light grey */
}

/* Change color when toggled on */
input:checked + .slider {
	background-color: #00a63f;	/* GoDaddy green */
}

/* Social Media login button overrides editor button styling */
.login-button {
	border: none;
	background-color: transparent;
	padding: 0px;
}