/* Label for toggle button */
.toggleLabel {
     font-size: large;
     color: #787878;
     display: inline;
     padding-right: 20px;
     vertical-align: top;
}

/* Toggle button */
.toggle {
	position: relative;
	width: 60px;
	height: 28px;
	display: inline-block;
}

/* Hide default HTML checkbox */
.toggle input {
	display: none;
}

/* The rounded slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #434445;
  border-radius: 28px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Change color when toggled on */
input:checked + .slider {
  background-color: #00a63f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a63f;
}

/* Animate toggle */
input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Social Media login button overrides other button styling */
.loginButton {
	border: none;
	background-color: transparent;
	padding: 0px;
}