input[type=text] {
	width: 100%;				/* extend length */
    padding: 6px;
    color: white;
    background-color: #434445; /* grey */
    border: solid 1px #787878; /* light grey */
    border-radius: 3px;
}

/* Input fields glow white when selected */
input[type=text]:focus {
	outline: none;
	border-color: white;
}