.RichEditor-root {
  background: #434445;
  border: 1px solid #787878;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding-bottom: 50px;
  border-radius: 3px;

}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  user-select: none;
}

.RichEditor-styleButton {
  background-color: #434445;
  color: #FEFEFE;
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px 14px;
  display: inline-block;
  
}

.RichEditor-activeButton {
  background-color: #777777;
  color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #434445;
    border-bottom: solid 1px #787878;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
